@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #f7f6ff;
  background: rgb(156, 25, 62);
}
body,html{
  position : fixed;
  top : 0;
  left : 0;
  right : 0;
  bottom : 0;
}

form {
  display: flex;
  justify-content: space-around;
  margin-top : 10%;
}

h2 {
  margin: 16px;
  color: #f5f6fa;
  text-align : center
}
#title{
  color : white;
  text-align : center;
  margin : 2rem;
}

label {
  display: block;
  width: 100%;
  height: 50px;
}

.select-box {
  display: flex;
  width: 400px;
  flex-direction: column;
}

.select-box .options-container {
  background: #414345;
  color: #f5f6fa;
  max-height: 0;
  width: 100%;
  opacity: 0;
  transition: all 0.4s;
  border-radius: 8px;
  overflow: hidden;
  order: 1;
}

.options {
  text-align: center;
}

.selected {
  background: #414345;
  border-radius: 8px;
  margin-bottom: 8px;
  color: #f5f6fa;
  position: relative;
  order: 0;
}

.selected::after {
  content: "";
  background: url("img/arrow-down.svg");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  height: 100%;
  width: 32px;
  right: 10px;
  top: 5px;
  transition: all 0.4s;
}

.select-box .options-container.active {
  max-height: 240px;
  opacity: 1;
  overflow-y: scroll;
}

.select-box .options-container.active+.selected::after {
  transform: rotateX(180deg);
  top: -6px;
}

.select-box .options-container::-webkit-scrollbar {
  width: 8px;
  background: #0d141f;
  border-radius: 0 8px 8px 0;
}

.select-box .options-container::-webkit-scrollbar-thumb {
  background: #525861;
  border-radius: 0 8px 8px 0;
}

.select-box .option,
.selected {
  padding: 12px 24px;
  cursor: pointer;
}

.select-box .option:hover {
  background: #414b57;
}

.select-box label {
  cursor: pointer;
}

.select-box .option .radio {
  display: none;
}

.button-submit {
  appearance: none;
  backface-visibility: hidden;
  background-color: #27ae60;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  padding: 13px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
  position : relative;
  top : 53px;
  right : 22px;
}

.button-submit:hover {
  background-color: #1e8449;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
}

.button-submit:active {
  transform: translateY(2px);
  transition-duration: .35s;
}

.button-submit:hover {
  box-shadow: rgba(39, 174, 96, .2) 0 6px 12px;
}


@media screen and (max-width: 1050px){
  body{
    width: 100%;
    display:inline-block;
    font-size: 0.8rem;
  }
  .container{
    margin-top : 10px;
  }
	form {
    margin-top : 2%;
    display : flex;
    flex-direction: column;
    align-items : center;
  }
  .button-submit{
    position : relative;
    left:1%;
  }
}

@media screen and (max-width: 684px){
  .selected ,.options-container,.option{
    width : 270px;
    margin : 0 auto;
  }
  form {
    margin-top : 2%;
    display : flex;
    flex-direction: column;
    align-items : center;
  }
  h2{
    font-size : 1rem;
  }
  .button-submit{
    width : 100px;
    height : 50px;
  }
}

@media screen and (max-width: 372px){
  .form {
    position : relative;
    left : 2px;
  }
}

